.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 100%;
}

.rowContainerFifth {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.rowContainerTwoFifth {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  flex: 1;
  color: #333;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
