.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.overview {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.overviewTitle {
  font-size: 24px;
  font-weight: 600;
  flex: 3;
}

.factorySelect {
  flex: 1;
  height: 30px;
  margin-left: 10px;
}

.incidentsList {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px;
}
