.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  max-height: 85vh;
}

.overview {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.overviewTitle {
  font-size: 24px;
  font-weight: 600;
  flex: 3;
  color: #333;
}

.factorySelect {
  height: 30px;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 5px;
  color: #333;
}

.incidentsList {
  display: flex;
  flex: 1;
  max-height: 90%;
  width: 90%;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  overflow-y: auto;
  border: 1px solid #bbbbbb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
