.incidentForm {
  display: flex;
  flex: 1;
  width: 97%;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  margin: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 70%;
}

.formInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.2s;
  background-color: white;
  color: #333;
}

/* .formInput::-webkit-calendar-picker-indicator {
  display: block;
  cursor: pointer;
  background-color: #4a90e2;
} */

.formLabel {
  font-weight: 500;
  color: #333;
  align-self: flex-start;
  padding-left: 5px;
}

.formInput:focus {
  outline: none;
  border-color: #fa9e00;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.formTextarea {
  min-height: 100px;
  resize: vertical;
}

.submitButton {
  padding: 10px 16px;
  background-color: #fa9e00;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 8px;
  width: 40%;
}

.submitButton:hover {
  background-color: #fa9e00;
}

.submitButton:active {
  background-color: #fa9e00;
}
